.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 320px;
  background: #d3d3d3;
  outline: none;
  border-radius: 20px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width:  32px;
  height: 32px;
  margin: 4px;
  border-radius: 16px;
  background: #009688;
  border: solid 2px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.wrapper{
    position: relative;
    padding: 8px 19px;
    background-color: white;
    border-radius: 8px;
    border: solid 2px rgba(0, 0, 0, 0.5);
}

.question {
  padding-left: 0.5em;
  font-size: 16pt;
  padding-bottom: 8px;
}

.instruction {
    text-align: center;
    padding-bottom: 8px;
}

.powered{
    width: 100%;
    text-align: right;
    font-size: 8pt;
}

.validating {
  color: rgb(0,150,136);
  text-align: center;
  width: 324px;
  height: 130px;
  height: 100%;
  line-height: 130px;
  font-size: 32pt;
  vertical-align: middle;
  display: inline;
}

.validatingText {
  display: inline;
}

.validated {
  color: #4CAF50;
  text-align: center;
  width: 324px;
  height: 130px;
  height: 100%;
  line-height: 130px;
  font-size: 32pt;
  vertical-align: middle;
}

.failed {
    color: #f06;
    text-align: center;
    width: 324px;
    height: 130px;
    height: 100%;
    line-height: 130px;
    font-size: 32pt;
    vertical-align: middle;
}
