.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 320px;
    height: 32px;
    background: #d3d3d3;
    outline: none;
    border-radius: 8px;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width:  64px;
    height: 26px;
    border-radius: 8px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
